---
---
{% include header.html %}
   <div id="main"> 
    <div id="header">
      <h1>Alexander Bakst</h1>
      <hr/>
      <div id="subheader">
        <h3>Department of Computer Science and Engineering</h3>
        <h3>University of California, San Diego</h3>
        <h3>Office: EBU3b 2232</h3>
        <h3>E-Mail: abakst <span>at</span> cs <span>dot</span> ucsd <span> dot </span>edu</h3>
        <h3><a href="bakst-cv.pdf">Curriculum Vitae</a></h3>
      </div>
      <div id="portrait">
        <img src="portrait.jpeg" alt="portrait redacted" title="what a nice boy" ></img>
      </div>
    </div>
    <div id="content">
    <div id="research">
      <h2>Research</h2>
      <p>I am a fifth year Ph.D. student in
        the <a href="http://cseweb.ucsd.edu/groups/progsys/">Programming
        Systems</a> group at UCSD. I am interested in tools and
        techniques that not only enable the development of software
        that is guaranteed to exhibit a set of useful properties, but
        are also as painless to use as possible. 
      </p>

      <p>
        I am currently working on building tools that automatically
        prove properties (such as deadlock freedom) of paramaterized
        message-passing programs.
      </p>
      
      <p>
        In the past, I have worked on
        <a href="http://goto.ucsd.edu/csolve">CSolve</a>, 
        which is a verifier for C programs based on <a href="http://goto.ucsd.edu/~rjhala/papers/low_level_liquid_types.html">Low-Level
        Liquid Types</a>.
      </p>
    </div>

    <div id="teaching">
      <h2>Teaching</h2>
      <p>Materials for the classes that I have TA'd at UCSD live on <a
        href="http://www.github.com/abakst/teaching">github</a>.
    </div>  
    
    <div id="publications">
    <h2>Publications</h2>
    <!-- <ul> -->
    <!--   <li> -->
    <h3 class="pub">Predicate Abstraction for Linked Data Structures - VMCAI 2016
      <a href="http://arxiv.org/abs/1505.02298">[arXiv]</a>
    </h3>
        <p class="authors">with Ranjit Jhala</p>
    <!-- -->
    <h3 class="pub">Bounded Refinement Types - ICFP 2015
      <a href="bounded.pdf">[pdf]</a>
    </h3>
        <p class="authors">with Niki Vazou and Ranjit Jhala</p>

        <h3 class="pub">CSolve: Verifying C with Liquid Types - CAV 2012 (tool description)  <a href=http://goto.ucsd.edu/~rjhala/papers/csolve_verifying_c_with_liquid_types.pdf>[pdf]</a></h3>
        <p class="authors">with Patrick M. Rondon, Ming Kawaguchi, and Ranjit Jhala</p>
        <h3 class="pub">Deterministic Parallelism with Liquid Effects - PLDI 2012  <a href=http://goto.ucsd.edu/~rjhala/papers/deterministic_parallelism_via_liquid_effects.pdf>[pdf]</a></h3>
        <p class="authors">with Ming Kawaguchi, Patrick M. Rondon, and Ranjit Jhala</p>

    <!--   </li> -->
    <!-- </ul> -->
    </div>
    
    <div id="background">
      <h2>Background</h2>
      <p>I graduated from MIT in 2008 with an S.B. in Computer
      Science, and again in 2009 with an M.Eng (<a href="http://dspace.mit.edu/handle/1721.1/53142">thesis</a>). After
      graduation, I worked at Oracle with a fantastic group of people
      developing a cluster filesystem for Windows, Linux, AIX, and
      Solaris. It was at this time that I became interested in
      programming languages and program analysis, especially with
      respect to analyzing systems software.
      </p>
    </div>
    <hr/>
{% include footer.html %}
